.NewsTicker {
    border: solid 1px #cccccc;
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

.NewsTicker h1 {
    padding: 6px;
    margin: 0;
    border: 0;
    background: #dfe7ed;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
}

.NewsVertical {
    width: 600px;
    height: 200px;
    display: block;
    overflow: hidden;
    position: relative;
}

/* --------------- */
/* Ticker Vertical */
.TickerVertical {
    width: 600px;
    height: 140px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.TickerVertical li {
    width: 280px;
    color: #444444;
    text-align: left;
    font-size: 11px;
    margin: 0;
    padding: 6px 10px;
    float: left;
    height: 164px;
    display: inline;
}

.TickerVertical li .NewsTitle {
    display: block;
    color: #000000;
    font-size: 20px;
    margin-bottom: 6px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.TickerVertical li .NewsTitle a:link,
.TickerVertical li .NewsTitle a:Visited {
    display: block;
    color: #000000;
    margin-bottom: 6px;
    text-decoration: underline;
}

.TickerVertical li .NewsTitle a:hover {
    text-decoration: none;
}

.TickerVertical li .NewsImg {
    float: left;
    margin-right: 10px;
    border: solid 1px #DEDEDE;
}

.TickerVertical li .NewsFooter {
    display: block;
    font-size: 10px;
    margin: 6px 0 14px 0;
    color: #000000
}