.mostreadthumbmatrix {

}

.mostreadthumbmatrix .entry, .mostreadthumbmatrix .entry:hover {
    float: left;
    margin: 2px 2px 2px 2px;
    border: solid #fafafa;
}

.mostreadthumbmatrixclear {
    clear: both;
}

.mostreadthumbmatrix .entry:hover {
    border-color: #257EBF; /* blue */
}

