.latest-posts ul {
    list-style: none;
}

.latest-posts .item-content {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 2px;
    text-align: justify;

    /* css3 one day
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 250px;
    overflow:hidden;
    display:block;
    */
}

.latest-posts .item-thumbnail {
    float: left;
    margin: 2px 4px 0px 0px;
}

.latest-posts .item-title {
    padding-bottom: .2em;
    font-size: 11px;
    white-space: nowrap;
}

.latest-posts .item-thumbnail img {
    padding: 0;
    background: #111111;
    border: 1px solid #111111;
    -moz-border-radius: 5px;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.latest-posts .item-thumbnail img:hover {
    border: 1px solid blue;
}

